SCANNETPP_LOADER_DIR=$(python -c "import scannetpp_nerfbaselines_loader; import os; print(os.path.dirname(scannetpp_nerfbaselines_loader.__file__))")
ETH3D_LOADER_DIR=$(python -c "import eth3d_nerfbaselines_loader; import os; print(os.path.dirname(eth3d_nerfbaselines_loader.__file__))")
echo "Scannet++ loader directory: $SCANNETPP_LOADER_DIR"
echo "ETH3D loader directory: $ETH3D_LOADER_DIR"
export NERFBASELINES_REGISTER="$PWD/src/nerfbaselines_register.py:$SCANNETPP_LOADER_DIR/register_scannetpp_loader.py:$ETH3D_LOADER_DIR/register_eth3d_loader.py:$NERFBASELINES_REGISTER"
export SCANNETPP_PATH="$HOME/repos/ivd_splat_scannetpp_integration/processed/"
export ETH3D_PATH="$HOME/repos/ivd_splat_eth3d_integration/eth3d_dataset/"
